@import '../../../assets/scss/index';
.page{
  &_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "filter filter filter filter "
    ". main main . "
    "footer footer footer footer";

  }
}
